* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#cajaLogo{
    width: 5%;
    height: 8%;
    background-color: #171b22;
    position: absolute;
    z-index: 6;
}
#barraLateral{
    font-size: 5vw;
    background-color: #171b22;
    color: #ffffff;
    opacity: .80;
}
#logo{
    width: 10%;
    position: absolute;
    z-index: 8;
    margin: -1.5% 0 0 3%;
}
#bienvenido{
    margin-left: 4%;
}
.material-icons{
    color: white;
    background-color: #171b22;
    opacity: .70;
    border-radius: 50%;
    padding: 18%;
}
#caja-youtube{
    width: 2%;
    z-index: 10;
    margin: 0 .3%;
}
#youtube{
    width: 100%;
    height: 100%;
}
#caja-facebook{
    width: 2%;
    z-index: 10;
    margin: 0 .3%;
}
#facebook{
    width: 100%;
    height: 100%;
}
#caja-instagram{
    width: 2%;
    z-index: 10;
    margin: 0 .3%;
}
#instagram{
    width: 100%;
    height: 100%;
}
#caja-whatsapp{
    width: 2%;
    z-index: 10;
    margin: 0 .3%;
}
#whatsapp{
    width: 100%;
    height: 100%;
}
#caja-tiktok{
    width: 2.8%;
    z-index: 10;
}
#tik-tok{
    width: 100%;
    height: 100%;
}
#menu{
    background: #171b22;
}
.hogar{
    padding: 2%;
    font-size: 1.2vw;
    position: relative;
    z-index: 6;
}
nav{
    font-size: 1.4vw;
}
#visible{
    position: fixed;
    background-color: #171b22;
    margin-top: 3%;
    width: 100%;
}
#negocio{
    width: 100%;
    height: 100%;
}
#imagen{
    width: 50.92%;
    float: left;
    margin-top: 3%;
}
#inputs{
    width: 46%;
    text-align: right;
    display: inline-block;
    margin-top: 3%;
}
#enviar{
    margin: 6% 50%;
    background-color: gainsboro;
    font-size: 1.8vw;
    border-radius: 25px;
    width: 15%;
    color: black;
}
#uno{
    font-size: 2vw;
    font-family: 'Crimson Text', serif;
    font-weight: lighter;
    margin-right: 0%;
    display: block;
}
#dos{
    font-size: 1.3vw;
    font-weight: normal;
    margin-left: 18%;
    margin-bottom: 10%;
    display: block;
}
#linea{
    width: 92%;
}
.nombre{
    display: block;
    margin: 5% 0 0 10%;
    font-size: 1.8vw;
    width: 85%;
    border-radius: 17px;
    border: 3px solid #000000;
    outline-style: none;
}
#propiedad{
    margin: 5% 5% 0 5%;
    font-size: 1.8vw;
    width: 85%;
    border-radius: 17px;
    border: 3px solid #000000;
    outline-style: none;
}


#footer{
    height: fit-content;
    width: 100%;
    background-color: #171b22;
    float: inline-end;
}
#logo2{
    float: left;
    height: 3%;
    width: 10%;
    margin: 1% 0 0 3%;
}
#imagenf{
    height: 100%;
    width: 100%;
}
.columna a:hover{
    color: #ffffff;
}
.columna{
    display: inline-block;
    margin: 0 0 0 16%;
    text-align: center;
    color: #ffffff;
    font-size: 1.3vw;
    font-style: normal;
}
.columna a{
    display: block;
    color: #ffffff;
    padding: 8% 0;
}
@media (max-width: 1024px) {
    #logo{
        z-index: 0;
        width: 0;
        }
    #cajaLogo{
        width: 0;
        height: 0;
        }
    }