* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#logo{
    margin-top: 4%;
    width: 10%;
}
#menu{
    background: #000000;
}
.hogar{
    padding: 2%;    
    font-size: large;
}
nav{
    font-size: large;
}
#enciclopedia{
    text-align: center;
}
main{
    background: url('./imagenes/buscar.jpg') no-repeat center  center/cover;
}
#titulo{
    background-color: #000000;
    font-size: 50px;
    display: inline-block;
    padding: 0 19%;
    margin: 2% 0 0 0;
    color: #ffffff;
}
#prueba{
    background-color: gray;
    height: 12%;
    width: 72%;
    position: absolute;
    opacity: .6;
    margin: 0 14%;
}
.form-control2{
    font-size: 30px;
    margin: 1% 0 0 0;
    position: relative;
    width: 70%;
}
